<!-- Courses Section -->
<section id="courses" class="courses section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Khoá học học thuật <br> và phát triển bản thân</h2>
    <p>Khám phá các khóa học chất lượng giúp phát triển kỹ năng và đạt được mục tiêu nghề nghiệp</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="course-card">
          <div class="course-icon">
            <i class="fas fa-code"></i>
          </div>
          <div class="course-image">
            <img src="assets/img/pic/2.png" alt="Course" class="img-fluid" loading="lazy">
          </div>
          <div class="course-content">
            <h3>Viết luận tăng cường - Essay Enhancement</h3>
            <p>Hướng dẫn các kỹ thuật viết bài luận học thuật ở các bậc học</p>
            <p><b>Thời lượng : </b> 16 giờ</p>
            <a href="#" class="course-link">Xem Chi Tiết <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div><!-- End Course Card -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="course-card">
          <div class="course-icon">
            <i class="fas fa-chart-bar"></i>
          </div>
          <div class="course-image">
            <img src="assets/img/pic/1.jpg" alt="Course" class="img-fluid" loading="lazy">
          </div>
          <div class="course-content">
            <h3>Viết luận chuyên sâu – Essay Coaching</h3>
            <p>Hướng dẫn hoàn chỉnh 01 bài luận có độ dài 500 - 1000 từ theo ý tưởng và chủ đề học sinh tự chọn</p>
            <p><b>Thời lượng : </b> 10 giờ</p>
            <a href="#" class="course-link">Xem Chi Tiết <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div><!-- End Course Card -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="course-card">
          <div class="course-icon">
            <i class="fas fa-bullhorn"></i>
          </div>
          <div class="course-image">
            <img src="assets/img/pic/3.png" alt="Course" class="img-fluid" loading="lazy">
          </div>
          <div class="course-content">
            <h3>Xây dựng CV (Resumé) và kỹ năng Phỏng vấn</h3>
            <p>Huớng dẫn học sinh cách thức để có buổi phỏng vấn thành công và gây ấn tượng</p>
            <p><b>Thời lượng : </b> 8 giờ</p>
            <a href="#" class="course-link">Xem Chi Tiết <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div><!-- End Course Card -->

    </div>

  </div>

</section><!-- /Courses Section -->