<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container position-relative d-flex align-items-center justify-content-between">

    <a href="home" class="logo d-flex align-items-center me-auto me-xl-0">
      <img src="assets/img/logo.png" alt="PAC Group">
      <h1 class="sitename">Unlock Your <span class="text-brand-accent">Career</span></h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/" class="active">Trang Chủ</a></li>
        <li class="dropdown"><a href="/gioi-thieu"><span>Giới Thiệu</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="/su-menh-tam-nhin">Sứ Mệnh và Tầm Nhìn</a></li>
            <li><a href="/mo-hinh-danh-gia">Mô Hình Đánh Giá</a></li>
            <li><a href="/doi-ngu-co-van">Đội Ngũ Cố Vấn</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="/giai-phap"><span>Giải Pháp</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="/huong-nghiep">Hướng Nghiệp</a></li>
            <li><a href="/khoa-hoc">Khóa Học</a></li>
          </ul>
        </li>
        <li><a href="/du-lieu-tham-khao">Dữ Liệu Tham Khảo</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted btn-pac-accent" href="dangnhap">Đăng nhập</a>

  </div>
</header>
